<div class="row">
  <div class="row">
    <div class="sidebar-list">
      <% if @user.image? %>
        <img src='<%= @user.image %>'  class = "avatar-full">
      <% else %>
        <img src="<%= asset_path "default.png" %>"  class = "avatar-full">
      <% end %>
      <h2><%= @user.name %></h2>
    </div>
  </div>
  <br/>
  
      <h4>ゲストからのレビュー (<%= @guest_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/guest_list" %>
        </div>
      <br/>
  
      <h4>出品者からのレビュー (<%= @host_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/host_list" %>
        </div>
  <br/>

  <div class="col-md-12">
    <div class="row">
      <%= @user.description %>
    <h4>出品一覧 (<%= @items.length %>)</h4><br/>
        <%= render partial: "items/items_list", locals: {items: @items} %>
      </div>
  </div>
  </div>
</div>