<div class="row">
  <div class="col-md-3">
    <div class="center">
      <% if @user.image? %>
          <img src='<%= @user.image %>'  class = "avatar-full">
        <% else %>
          <img src="<%= asset_path "default.png" %>"  class = "avatar-full">
        <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <h2><%= @user.name %></h2>

    <div class="description row-space-3">
      <%= @user.description %>
    </div>
    <h4>出品一覧 (<%= @items.length %>)</h4><br/>
  
      <div class="row">
        <%= render partial: "items/items_list", locals: {items: @items} %>
      </div>
      <br/>
  
      <h4>ゲストからのレビュー (<%= @guest_reviews.count %>)</h4>
      <div class="row">
        <%= render "reviews/guest_list" %>
      </div>
      <br/>
  
      <h4>出品者からのレビュー (<%= @host_reviews.count %>)</h4>
      <div class="row">
        <%= render "reviews/host_list" %>
      </div>
      <br/>
    </div>
  </div>