<div id="main">
    <!-- SEARCH PANEL -->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          詳細検索 <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <br/>
      <div class="collapse col-md-12" id="collapsePanel">

          <%= search_form_for @search, url: search_path, remote: true do |f| %>

              <div class="row">
                <div class="col-md-8">
                  <label>値段:</label>
                  <div id="slider-range"></div>
                </div>
                <div class="col-md-2">
                  <label>最小値段:</label>
                  <%= f.text_field :price_gteq, class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <label>最大値段:</label>
                  <%= f.text_field :price_lteq, class: "form-control" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-6">
                  <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "開始日", class: "form-control datepicker" %>
                </div>
                <div class="col-md-6">
                  <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "返却日", class: "form-control datepicker" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>メインカテゴリー</label>
                    <%= f.select :main_category_eq, [["Outdoor", "Outdoor"], ["Sports", "Sports"], ["Travel_Item", "Travel_Item"], ["House_Item", "House_Item"], ["Other", "Other"]], id: "main_category", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>サブカテゴリー</label>
                    <%= f.select :sub_category_eq, [["Wear", "Wear"], ["Goods", "Goods"], ["Item", "Item"], ["Other", "Other"]], id: "sub_category", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>アイテム状態</label>
                    <%= f.select :status_eq, [["A", "A"], ["B", "B"], ["C", "C"], ["D", "D"]], id: "status", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
              </div>
              <br/>

              <div class="row text-center">
                <%= f.submit "検索", class: "btn btn-form" %>
              </div>
          <% end %>
          <br/>
      </div>
      
      

      <div class="row" id="item_listing">
        <%= render partial: "items/items_list", locals: {items: @arrItems} %>
      </div>

    </div>
  

</div>


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  var open = true;

  $('#filter').click(function() {
    if (open) {
      $('#filter').html("More filters <i class='fa fa-chevron-up'></i>")
    } else {
      $('#filter').html("More filters <i class='fa fa-chevron-down'></i>")
    }
    open = !open;
  });
</script>

<script>
  $(function() {
    $("#q_price_gteq").val('100');
    $("#q_price_lteq").val('3000');

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 10000,
      values: [100, 3000],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });

    $(".ui-widget-header").css('background', '#00A699');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#00A699');
  })
</script>
