<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", items_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Rentals", your_rentals_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Rentals
      </div>
      <div class="panel-body">

        <% @rentals.each do |rental| %>
          <div class="row">
            <div class="col-md-2">
                <div class="text-babu"><%= "Start" %></div><%= rental.start_date.strftime('%v') %><br/>
                <div class="text-babu"><%= "Return" %></div><%= rental.end_date.strftime('%v') %>
            </div>
            <div class="col-md-3">
            <%= link_to item_path(rental.item) do %>
              <%= image_tag rental.item.cover_photo(:thumbmid)%>
            <% end %>
            </div>
            <div class="col-md-4">
            <%= link_to item_path(rental.item) do %>
              <%= link_to rental.item.item_name, item_path(rental.item) %><br/><br/>
            <% end %>
              <span>
                <% if rental.item.user.image? %>
                  <img src='<%= rental.item.user.image %>'  class = "icon_image_large">
                <% else %>
                  <img src="/assets/default.png"  class = "icon_image_large">
                <% end %>
                <%= link_to user_path(rental.item.user) do %>
                    <%= rental.item.user.name %>
                <% end %>
              </span>
            </div>
            <div class="col-md-3 text-right">
            <%= render partial: "reviews/guest_form", locals: {reservation: rental} %>
            </div>  
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
