<% @items.each do |item| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag item.cover_photo(:thumb) %>
        </div>
        <div class="panel-body">
          <%= link_to item.item_name, item %><br/>
          <%= item.address %><br/>
          ¥<%= item.price %><br/>
          <%= item.main_category %> - <%= item.sub_category %> - <%= item.status %>
          <div id="star_<%= item.id %>"></div>
          <%= pluralize(item.average_rating, "review") %>
        </div>
      </div>
    </div>

    <script>
      $('#star_<%= item.id %>').raty({
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        readOnly: true,
        score: <%= item.average_rating %>
      });
    </script>
<% end %>
