<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", items_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Rentals", your_rentals_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listings
      </div>
      <div class="panel-body">

        <% @items.each do |item| %>
          <div class="row">
            <div class="col-md-3">
              <%= image_tag item.cover_photo(:thumb)%>
            </div>
            <div class="col-md-5">
              <h4><%= item.item_name %></h4>
            </div>
            <div class="col-md-2 right">
              <%= link_to "Edit", listing_item_path(item), class: "btn btn-form" %>
            </div>
            <div class="col-md-2 right">
              <%= link_to "destroy", item_path(item.id), method: :delete, class: "btn btn-primary" %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
