<div class="row">
  <div class="col-md-3">
    <%= render 'item_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        アイテム登録
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @items do |f| %>

            <div class="row">

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>メインカテゴリー</label>
                  <%= f.select :main_category, [["Outdoor", "Outdoor"], ["Sports", "Sports"], ["Travel_Item", "Travel_Item"], ["House_Item", "House_Item"], ["Other", "Other"]],
                                id: "main_category", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>サブカテゴリー</label>
                  <%= f.select :sub_category, [["Wear", "Wear"], ["Goods", "Goods"], ["Item", "Item"], ["Other", "Other"]],
                                id: "sub_category", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>アイテムの状態</label>
                  <%= f.select :status, [["A", "A"], ["B", "B"], ["C", "C"], ["D", "D"]],
                                id: "status", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

            <div><%= f.submit "概要保存", class: "btn btn-normal" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
