<div class="row">
  <div class="col-md-3">
    <%= render 'item_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        アイテム登録
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @items do |f| %>

            <div class="row">

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>メインカテゴリー</label>
                  <%= f.select :main_category, [["アウトドア", "アウトドア"], ["スポーツ", "スポーツ"], ["旅行アイテム", "旅行アイテム"], ["ハウスアイテム", "ハウスアイテム"], ["その他", "その他"]],
                                id: "main_category", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>サブカテゴリー</label>
                  <%= f.select :sub_category, [["洋服", "洋服"], ["グッズ", "グッズ"], ["小物", "小物"], ["その他", "その他"]],
                                id: "sub_category", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>アイテムの状態</label>
                  <%= f.select :status, [["綺麗", "綺麗"], ["普通", "普通"], ["汚い", "汚い"], ["ボロボロ", "ボロボロ"]],
                                id: "status", prompt: "Select...", class: "form-control" %>
                </div>
              </div>
            <div class="col-md-4 select">
              <div><%= f.submit "概要保存", class: "btn btn-normal" %></div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
