<div class="panel panel-default">
  <div class="panel-heading">
    Create your item
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @item do |f| %>

        <div class="row">

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Main Category</label>
              <%= f.select :main_category, [["Outdoor", "Outdoor"], ["Sports", "Sports"], ["Travel_Item", "Travel_Item"], ["House_Item", "House_Item"], ["Other", "Other"]],
                            id: "main_category", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Sub Category</label>
              <%= f.select :sub_category, [["Wear", "Wear"], ["Goods", "Goods"], ["Item", "Item"], ["Other", "Other"]],
                            id: "sub_category", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Status</label>
              <%= f.select :status, [["A", "A"], ["B", "B"], ["C", "C"], ["D", "D"]],
                            id: "status", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

        <div><%= f.submit "Create My Item", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
