<!-- Image -->
<div class="row">
  <div class="col-md-12">
    <%= image_tag @items.cover_photo(nil), width: "100%" %>
  </div>
</div>
<br/>

<div class="row">

  <!-- LEFT PANEL -->
  <div class="col-md-8">

    <!-- Listing Name -->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @items.item_name %></h1>
        <h3><%= @items.address %></h3>
      </div>
      <div class="col-md-4 text-center">
      <br/><br/>
        <% if @items.user.image? %>
          <img src='<%= @items.user.image %>'  class = "icon_image_large">
        <% else %>
          <img src="<%= asset_path "default.png" %>"  class = "icon_image_large">
        <% end %>
        <br/><br/>
        <%= @items.user.name %>
      </div>
    </div>
    <hr/>

    <!-- items Info -->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-4">
          <%= "Main_category" %>
        </div>
        <div class="col-md-4">
          <%= "Sub_category" %>
        </div>
        <div class="col-md-4">
          <%= "Status" %>
        </div>
      </div>

      <div class="row text-center">
        <h4><div class="col-md-4"><%= @items.main_category %></div></h4>
        <h4><div class="col-md-4"><%= @items.sub_category %></div></h4>
        <h4><div class="col-md-4"><%= @items.status %></div></h4>
      </div>


    </div>
    <hr/>

    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h3>About This Listing</h3>
        <p><%= @items.summary %></p>
      </div>
    </div>
    <hr/>


    <!-- Carousel -->
    <div class="row">
      <% if @photos.length > 0 %>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                  <%= image_tag photo.image.url() %>
                </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    </div>
    <hr/>

    <!-- REVIEWS -->
    <div class="row">
      <div class="col-md-12">
        <h3>
          <%= pluralize(@guest_reviews.count, "Review") %>
          <span id="average_rating"></span>
        </h3>
        <div class="container">
          <div><%= render "reviews/guest_list" %></div>
        </div>
      </div>
    </div>
    <br/>
    <hr/>

    <!-- GOOGLE MAP -->
    <div class="row">
      <h3>Rental Area</h3>
      <div id="map" style="width: 100%; height: 400px"></div>

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      <script>
        let map

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @items.latitude %>, lng: <%= @items.longitude %>},
            zoom: 12,
                });

          marker = new google.maps.Marker({
            position: {lat: <%= @items.latitude %>, lng: <%= @items.longitude %>},
            map: map
          });

          var myCircle = new google.maps.Circle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          map: map,
          center: {lat: <%= @items.latitude %>, lng: <%= @items.longitude %>},
          radius: 5000
        });
        }
      </script>
    </div>
    <hr/>

  </div>
        <!-- RIGHT PANEL -->
    <div class="col-md-4">
      <!-- Reservation Form -->
      <%= render 'reservations/form' %>
    </div>
</div>

<script>
  $('#average_rating').raty({
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    readOnly: true,
    score: <%= @items.average_rating %>
  });
</script>